* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  line-height: 1.5;
  font-size: 13px;
}
.testimonials {
  max-width: 1440px;
  margin: 100px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.card {
  background: rgb(212, 201, 201);
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 10px;
}

.card__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card__header h3 {
  font-size: 15px;
}
.card__header p {
  opacity: 50%;
}
.card__img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #996ed9;
  margin-right: 10px;
}

.card__lead {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 20px;
}
.card__quote {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
  opacity: 70%;
}

.card--bg--purple {
  background-color: blueviolet;
  color: #fff;
  background-image: url("images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top 10px right 100px;
}

.card:nth-child(1) {
  grid-column: 1/3;
}
.card:nth-child(4) {
  grid-column: 2/4;
  grid-row: 2;
}

.card:nth-child(5) {
  grid-column: 4;
  grid-row: 1/3;
}

.card--bg-gray-blue {
  background-color: hsl(217, 19%, 35%);
  color: #fff;
}

.card--bg-black-blue {
  background-color: rgb(14, 22, 36);
  color: #fff;
}

.card--bg-black-blue {
  background-color: rgb(14, 22, 36);
  color: #fff;
}

footer {
  text-align: center;
}

@media(max-width:600px){
   .testimonials{
      display: block;
      grid-template-columns: 1fr;
   }
}